.body{
    
}
.header{
    background-color: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    width: 80px;
    background-color: #3882F6;
    color: white;
    border: none;
    outline-color: #3882F6;
    border-radius: 4px;
    padding: 4px 15px;
   


}

.header-top{
    width: 800px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto',sans-serif;

}
.header-top ul{
    gap: 10px;
}
ul{
    padding: 0;
    display: flex;    

}
li{

    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-bot{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    
}
.awesome #web{
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.awesome,
.placeholder{
    width: 400px;
    height: 200px;
}
.awesome{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;

}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;  
  
}
.center{
    text-align: center;
}

.four-boxes{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    gap: 10px;
}
.image li{
    color: #1f2937;
}
.random{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.fake-pic{
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.quote-house{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px;

}
.house{
    width: 605px;

}

.quote{
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    
    
}
.sign-off{
    display: flex;
    justify-content: flex-end;
    font-weight: 900;   
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

}
.blue-box{
    background-color: #3882F6;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
    padding: 30px;
    border-radius: 10px;

}
.left-footer{
    display: flex;
    flex-direction: column;
    color:white;
}
.right-footer button{
    border: 1px solid white;
}
.copyright{
    height: 100px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIRST ATTEMPT*/